pandas
numpy
# torch
# transformers[torch]
datasets
scikit-learn
spacy

# basic
tqdm

# plotting
# seaborn
# matplotlib
# jupyter
# ipython
# dvu

# docs/packaging
# pdoc3
# wheel

# experimental rules
# imodels

# spacy also requires `python -m spacy download en_core_web_sm` for parsing
