pandas
numpy
torch
transformers[torch]
datasets
scikit-learn
spacy

# basic
tqdm

# plotting
# seaborn
# matplotlib
# jupyter
# ipython
# dvu

# docs
# pdoc3

# spacy also requires `python -m spacy download en_core_web_sm` for parsing