transformers[torch]
numpy
datasets
scikit-learn
pandas
spacy
torch

# basic
tqdm

# plotting
seaborn
matplotlib
jupyter
ipython
dvu


# spacy also requires `python -m spacy download en_core_web_sm` for parsing